@model TravelOhioMVC.Models.City

@{
    ViewBag.Title = "Reviews";
}

<h2>Ohio City Reviews</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewCities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewCities)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
