@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel The Buckeye State</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
            ullamcorper tempor.</p>
    <p><a href="http://www.ohio.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discover Cities</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum 
            ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus 
            ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus 
            ultrices et ligula non convallis. Maecenas at sapien et nisl consectetur sodales. 
            Aliquam egestas tortor sed posuere congue. Maecenas congue augue vitae felis 
            venenatis, sed bibendum urna imperdiet.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Festivals</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
            ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus
            ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus
            ultrices et ligula non convallis. Maecenas at sapien et nisl consectetur sodales.
            Aliquam egestas tortor sed posuere congue. Maecenas congue augue vitae felis
            venenatis, sed bibendum urna imperdiet.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Discover &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Attractions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
            ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus
            ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus
            ultrices et ligula non convallis. Maecenas at sapien et nisl consectetur sodales.
            Aliquam egestas tortor sed posuere congue. Maecenas congue augue vitae felis
            venenatis, sed bibendum urna imperdiet.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Explore &raquo;</a></p>
    </div>
</div>