@{
    ViewBag.Title = "Home Page";
}

<div class="container farmscene">
    <div class="row">
        <img src="~/Images/FarmScene.jpg" />
    </div>
</div>
<div class="container-text">
    <div class="row-text">
        <div class="col-md-4">
            <h2>Discover Cities</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
                ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus
                ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus
                ultrices et ligula non convallis.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Find Festivals</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
                ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus
                ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus
                ultrices et ligula non convallis.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Discover &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Visit Attractions</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum
                ullamcorper tempor. Sed pharetra pharetra lectus vel eleifend. Praesent maximus
                ornare lectus, nec eleifend nunc tempor ac. Vivamus eget sodales neque. Phasellus
                ultrices et ligula non convallis.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Explore &raquo;</a></p>
        </div>
    </div>
</div>